# Ignore the Python virtual environment directory
venv/

# You might also want to ignore other common files/folders:
.git/
.gitignore
.env*
__pycache__/
*.pyc
*.pyo
*.pyd

fetch_news/tests/*
fetch_news/tests/.gitkeep